<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理页面</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/common.css">
	<link rel="stylesheet" href="/stylesheets/adminIndex.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/avalon.min.js"></script>
	<style>
	.feedbackb{
		width: 60%;
		margin:200px auto;

	}
	</style>
</head>
<body>
	<div class="wrap" ms-controller="feedback" class="ms-controller">
		<div class="header">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">商城管理系统</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li><a href="/admin">首页</a></li>
			        <li><a href="/notice">通知</a></li>
			        <li><a href="/addMoneyPage">充值</a></li>
			        <li><a href="/applyShop">申请店铺</a></li>
			        <li class="active"><a href="/feedback">留言反馈</a></li>
			      </ul>
			      
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#">Hello,{{applyingName}}</a></li>
			        <li><a href="/modifyPasswd">修改密码</a></li>
			        <li><a href="/">退出</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
		<div class="feedbackb">
			<form class="form-horizontal">
				  <div class="form-group">
				    <label for="feedback" class="col-sm-3 control-label">留言反馈</label>
				    <div class="col-sm-9">
				      <textarea class="form-control feedback" rows="5"></textarea>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-3 col-sm-9">
				      <button type="button" style="width: 100%; background: #bda1cc"  class="btn btn-default right">确认</button>
				    </div>
				</div>
			</form>
		</div>
	</div>
	<script src="/javascripts/feedback.js"></script>
</body>
</html>